{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-xl">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h2 class="nk-block-title fw-normal">{{ title }}</h2>
                                <nav>
                                    <ol class="breadcrumb breadcrumb-arrow">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Tableau de bord</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'membres' %}">Membres</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="nk-block-head-content">
                                <a href="{% url 'membres' %}" class="btn btn-outline-light bg-white d-none d-sm-inline-flex">
                                    <em class="icon ni ni-arrow-left"></em><span>Retour</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="nk-block nk-block-lg">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <form method="post" enctype="multipart/form-data" id="fidele-form" class="form-validate">
                                    {% csrf_token %}
                                    
                                    <div class="row g-4">
                                        <!-- Colonne de gauche -->
                                        <div class="col-lg-6">
                                            <div class="gy-3">
                                                <div class="g-item">
                                                    <h5 class="title">Informations personnelles</h5>
                                                    <div class="row g-3">
                                                        <div class="col-md-4">
                                                            {{ form.birthdate|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-3">
                                                            {{ form.sexe|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.situation_matrimoniale|as_crispy_field }}
                                                        </div>
                                                        <div class="col-12">
                                                            {{ form.signe|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.nbr_enfants|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.nationalite|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="g-item">
                                                    <h5 class="title">Coordonnées</h5>
                                                    <div class="row g-3">
                                                        <div class="col-md-6">
                                                            {{ form.phone|as_crispy_field }}
                                                        </div>
                                                        
                                                        <div class="col-12">
                                                            {{ form.contry|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="g-item">
                                                    <h5 class="title">Situation professionnelle</h5>
                                                    <div class="row g-3">
                                                        <div class="col-md-6">
                                                            {{ form.profession|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.entreprise|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.mensual_revenue|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.salary_currency|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Colonne de droite -->
                                        <div class="col-lg-6">
                                            <div class="gy-3">
                                                <div class="g-item">
                                                    <h5 class="title">Informations spirituelles</h5>
                                                    <div class="row g-3">
                                                        <div class="col-md-6">
                                                            {{ form.date_entree|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.eglise|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.date_bapteme|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.type_bapteme|as_crispy_field }}
                                                        </div>
                                                        <div class="col-12">
                                                            {{ form.lieu_bapteme|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.membre|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.type_membre|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="g-item">
                                                    <h5 class="title">Relations familiales</h5>
                                                    <div class="row g-3">
                                                        <div class="col-md-4">
                                                            {{ form.pere|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-4">
                                                            {{ form.mere|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-4">
                                                            {{ form.marie_a|as_crispy_field }}
                                                        </div>
                                                        <div class="col-12">
                                                            {{ form.famille_alliance|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="g-item">
                                                    <h5 class="title">Implication dans l'église</h5>
                                                    <div class="row g-3">
                                                        <div class="col-md-6">
                                                            {{ form.departement|as_crispy_field }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.fonction|as_crispy_field }}
                                                        </div>
                                                        <div class="col-12">
                                                            {{ form.location|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="g-item">
                                                    <h5 class="title">Photo</h5>
                                                    <div class="row g-3">
                                                        <div class="col-12">
                                                            {{ form.photo|as_crispy_field }}
                                                            {% if form.instance.photo %}
                                                            <div class="mt-2 text-center">
                                                                <img src="{{ form.instance.photo.url }}" alt="Photo actuelle" class="img-thumbnail" style="max-height: 200px;">
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row g-3 mt-4">
                                        <div class="col-12">
                                            <div class="form-group text-end">
                                                <button type="submit" class="btn btn-lg btn-primary">
                                                    <em class="icon ni ni-save"></em> Enregistrer
                                                </button>
                                                <a href="{% url 'membres' %}" class="btn btn-lg btn-light">
                                                    <em class="icon ni ni-arrow-left"></em> Annuler
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    // Initialisation des sélecteurs avec select2
    $('select').each(function() {
        $(this).select2({
            theme: 'bootstrap4',
            width: '100%',
            placeholder: $(this).attr('placeholder') || 'Sélectionnez une option',
            allowClear: Boolean($(this).data('allow-clear')),
            dropdownParent: $(this).closest('.modal').length ? $(this).closest('.modal') : document.body
        });
    });

    // Datepicker pour les champs de date
    $('.dateinput').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true,
        language: 'fr',
        orientation: 'auto'
    });

    // Validation du formulaire
    $('#fidele-form').validate({
        errorClass: 'is-invalid',
        validClass: 'is-valid',
        errorPlacement: function(error, element) {
            if (element.hasClass('select2-hidden-accessible')) {
                error.insertAfter(element.next('.select2-container'));
            } else {
                error.insertAfter(element);
            }
        },
        highlight: function(element, errorClass, validClass) {
            $(element).addClass(errorClass).removeClass(validClass);
            $(element).closest('.form-group').find('.select2-selection').addClass(errorClass);
        },
        unhighlight: function(element, errorClass, validClass) {
            $(element).removeClass(errorClass).addClass(validClass);
            $(element).closest('.form-group').find('.select2-selection').removeClass(errorClass);
        }
    });

    // Gestion dynamique des relations familiales
    function updateFamilyFields() {
        const familleId = $('#id_famille_alliance').val();
        if (familleId) {
            // Ici vous pouvez ajouter une requête AJAX pour pré-remplir les champs
            // en fonction de la famille sélectionnée
        }
    }

    $('#id_famille_alliance').change(updateFamilyFields);
    updateFamilyFields();
});
</script>
{% endblock %}